@import '../../../../styles/styles.scss';

.InputAssigner__container {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 2px solid var(--bananasign-color-neutral-40);
  box-sizing: border-box;
  border-radius: 8px;

  &.EmptyAssignUsers {

    .AssignerListInput__container {
      padding: 0;
    }
  }

  &.isOpenSearch {
    border: 2px solid var(--bananasign-color-neutral-100);
  }
}

.InputAssigner__wrapper--input {
  .CustomInput__wrapper {
    margin-top: 0;
  }
}

.InputAssigner__input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: unset;

  &.CustomInput__input {
    border: unset;
  }

  &.CustomInput__input--focus {
    &:focus {
      border: unset;
    }
  }
}

.InputAssigner__divider {
  width: 100%;
  height: 1px;
  background-color: var(--bananasign-color-primary-230);
  margin-top: 2px;
}
