@import "../../constants/styles/mixin.scss";

.animate__animated{
  animation:opt-animation 0.4s ;
  -moz-animation-fill-mode: initial;
  -webkit-animation-fill-mode: initial;
  animation-fill-mode: initial;
}

@-webkit-keyframes opt-animation {
  0%   { transform: scale(0.99);}
  100% { transform: scale(1);}
}
@-moz-keyframes opt-animation {
  0%   { transform: scale(0.99);}
  100% { transform: scale(1);}
}
@-o-keyframes opt-animation{
  0%   { transform: scale(0.99);}
  100% { transform: scale(1);}
}
@keyframes opt-animation {
  0%   { transform: scale(0.99);}
  100% { transform: scale(1);}
}

.ModalBackdrop__container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);

  animation: opt-animation-backdrop 1s ;
  -moz-animation-fill-mode: initial;
  -webkit-animation-fill-mode: initial;
  animation-fill-mode: initial;
}

@-webkit-keyframes opt-animation-backdrop {
  0%   { opacity: 0.75;}
  100% { opacity: 1;}
}
@-moz-keyframes opt-animation-backdrop {
  0%   { opacity: 0.75;}
  100% { opacity: 1;}
}
@-o-keyframes opt-animation-backdrop{
  0%   { opacity: 0.75;}
  100% { opacity: 1;}
}
@keyframes opt-animation-backdrop {
  0%   { opacity: 0.75;}
  100% { opacity: 1;}
}

.ModalWrapper__container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  overflow: auto;
  position: fixed;
  align-items: center;
  justify-content: center;


  /* width */
  ::-webkit-scrollbar {
    width: 16px;
  }


  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border: 5px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }
}



