@import '~normalize.css/normalize.css';
@import '../constants/styles/variables.scss';

@mixin ttffont($font-family, $font-weight, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: normal;
    font-display: swap;
  }
}

@include ttffont('MarkPro', 'normal', '../assets/fonts/MarkPro/MarkPro');
@include ttffont('MarkPro-Regular',300,'../assets/fonts/MarkPro/MarkPro-Regular');
@include ttffont('MarkPro-Bold', 600, '../assets/fonts/MarkPro/MarkPro-Bold');

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    border-radius: 36px;
    height: 10px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
      background: var(--color-primary-230);
      border-radius: 36px;
  }

  &::-webkit-scrollbar-track {
      border-radius: 36px;
  }

  &.scroll {
    &::before {
      content: '';
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,0.6601015406162465) 0%, rgba(255,255,255,0) 100%);
      height: 15px;
      position: fixed;
      width: 489px;
    }
  }
}