@import '../constants/styles/variables.scss';

@mixin ttffont($font-family, $font-weight, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: normal;
    font-display: swap;
  }
}


@include ttffont('MarkPro', 'normal', '//db.onlinewebfonts.com/t/9d18fe9288338af4d47207a94320a88c');
@include ttffont('MarkPro-Regular',300,'//db.onlinewebfonts.com/t/c7e919b8358daafbec26cde70a5237f9');
@include ttffont('MarkPro-Bold', 600, '//db.onlinewebfonts.com/t/a9f560eff7544c341f8c6f520fda2d07');

