.EmptyResults__container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.EmptyResults__banner {
  height: 99px;
  width: 99px;

  ing {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.EmptyResults__title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--color-neutral-100);
  margin: 0;
  margin-top: 32px;
}

.EmptyResults__message {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--color-other-1);
  margin-top: 8px;
}
