:root {
  // fonts
  --font-primary: 'MarkPro', arial, sans-serif;
  --font-primary-regular: 'MarkPro-Regular', arial, sans-serif;
  --font-primary-bold: 'MarkPro-Bold', arial, sans-serif;

  // color
  --color-other-11: #8e979f;
  --color-blue: #3180f1;
  --color-other-10: #eaf3ff;
  --color-neutral-100: #0c395b;
  --color-neutral-0: #fff;
  --color-other-1: #50677A;
  --color-other-6: #e1e1e1;
  --color-soft-white: #f7f6ec;
  --color-warning-40: #fae200;
  --color-primary-350: #F7F6EC;
}
