.Avatar__container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--bananasign-color-neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--bananasign-color-primary-350);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Avatar__default-user {
    width: 26px;
    height: 26px;
  }
}

.Avatar__name {
  font-size: 12px;
  line-height: 20px;
  font-family: var(--bananasign-font-primary);
  font-weight: bold;
  font-style: normal;
  color: white;
}

.Avatar__wrapper {
  position: relative;
  margin-right: 8px;
}
