.AssignerItem {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 12px;

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    .Avatar__wrapper .AssignerItem__wrapper-avatar {
      width: 32px;
      height: 32px;
      border: 1.6px solid var(--color-primary-350);
    }

    &-name {
      font-family: var(--font-primary);
      color: var(--color-neutral-100);
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      align-items: center;
      margin-left: 4px;

      p {
        margin: 0;
      }

      :nth-child(2) {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: var(--color-other-1);
      }
    }
  }

  &__delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    position: relative;

    &:hover {
      cursor: pointer;
      background: var(--color-primary-350);
    }

    .AssignerItem__tooltip {
      padding: 2px 8px;
      border-radius: 4px;
      background: var(--color-neutral-100);
      font-size: 14px;
      line-height: 20px;
      font-style: normal;
      font-weight: 500;
      font-family: var(--font-primary);
      color: white;
      border: none;
    }
  }

  &__user-info-text--added {
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    color: var(--color-secondary-50);
  }
}
