@import '@src/constants/styles/mixin.scss';

.AssignerItem {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 12px;

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    .Avatar__wrapper .AssignerItem__wrapper-avatar {
      width: 32px;
      height: 32px;
      border: 1.6px solid var(--bananasign-color-primary-350);
    }

    &-name {
      font-family: var(--bananasign-font-primary);
      color: var(--bananasign-color-neutral-100);
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      align-items: center;
      margin-left: 4px;

      p {
        margin: 0;
      }

      :nth-child(2) {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: var(--bananasign-color-other-1);
      }
    }
  }

  &__delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    
    &:hover {
      cursor: pointer;
      background: var(--bananasign-color-primary-350);
    }

    .AssignerItem__tooltip {
      padding: 2px 8px;
      border-radius: 4px;
      background: var(--bananasign-color-neutral-100);
      font-size: 14px;
      line-height: 20px;
      font-style: normal;
      font-weight: 500;
      font-family: var(--bananasign-font-primary);
      color: white;
      border: none;
      display: inline-block;
      left: -999em;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease-out;
      top: -999em;
      visibility: hidden;
      z-index: 999;
      position: absolute;

      @include mobile {
        display: none;
      }
    }

    &:hover .AssignerItem__tooltip.place-bottom {
      opacity: 1;
      margin-left: 0;
      visibility: visible;
    }

    .AssignerItem__tooltip.place-bottom {
      margin-top: 10px;
    }

    .AssignerItem__tooltip::after,
    .AssignerItem__tooltip::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
    }

    .AssignerItem__tooltip.place-bottom::before {
      border-bottom: 8px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      top: -8px;
      left: 50%;
      margin-left: -10px;
    }
    .AssignerItem__tooltip.place-bottom::after {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top: -6px;
      left: 50%;
      margin-left: -8px;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: 6px;
    }
  }

  &__user-info-text--added {
    font-family: var(--bananasign-font-primary);
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    color: var(--bananasign-color-secondary-50);
  }
}
